* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.head_section {
  height: 500px;
  width: 100%;
  background-image: url(images/img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 5s;
  transition: 5s;
  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes animate {
  0% {
    background-image: url(images/img1.jpg);
  }
  30% {
    background-image: url(images/img2.jpg);
  }
  60% {
    background-image: url(images/img3.jpg);
  }
  100% {
    background-image: url(images/img4.jpg);
  }
}

@keyframes animate {
  0% {
    background-image: url(images/img1.jpg);
  }
  30% {
    background-image: url(images/img2.jpg);
  }
  60% {
    background-image: url(images/img3.jpg);
  }
  100% {
    background-image: url(images/img4.jpg);
  }
}

.head_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  font-size: 1.3rem;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 8px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 5px 5px black;
}

.head_content p {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
  margin-top: 100px;
  text-transform: capitalize;
  font-size: 2rem;
  text-shadow: 0px 5px 5px black;
}

.menu_style {
  width: 50%;
  height: 50px;
  margin-left: 25%;
  margin-top: 15px;
}

.menu_style ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_style ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  color: gray;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 15px;
  text-decoration: none;
}

.menu_style ul li a:hover {
  color: black;
}

.menu_style ul li a.active_class {
  color: black;
  border-bottom: 3px solid black;
  font-size: 1.4rem;
}

.card {
  margin: 6%;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  width: 21%;
  height: 500px;
  float: left;
  text-align: center;
  -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  position: relative;
}

.card:hover {
  -webkit-box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.5);
}

.card:hover .button_style {
  opacity: 1;
}

.card:hover .card_title {
  opacity: 1;
}

.card:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.button_style {
  opacity: 0;
  position: relative;
  top: -20%;
}

.card_title {
  font-family: 'Amatic SC', cursive;
  text-transform: capitalize;
  font-size: 2.5rem;
  position: absolute;
  width: 100%;
  top: 5%;
  text-align: center;
  opacity: 0;
  color: white;
  text-shadow: 0px 4px 4px black;
}

button {
  padding: 10px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  background-color: transparent;
}

.main {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 3;
}

.container {
  width: 60%;
  height: 70%;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: auto;
  position: relative;
  top: 12%;
}

.cont_img {
  width: 40%;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.content {
  width: 50%;
  height: 100%;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.cont_heading {
  font-size: 1.9rem;
  text-transform: capitalize;
  margin-bottom: 7%;
  margin-top: 10%;
}

.cont_para {
  height: 40%;
  overflow: scroll;
  font-size: 1.2rem;
  margin-bottom: 5%;
  color: gray;
}

.cont_para::-webkit-scrollbar {
  display: none;
}

.content button {
  background-color: black;
}

.content button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.middle_section {
  width: 90%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-left: 5%;
}

.ms_img {
  width: 50%;
  height: 600px;
  animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

.ms_img img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.ms_text {
  width: 50%;
  height: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
  margin-top: 100px;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: -50px;
  padding: 5%;
}

.ms_text h2 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  text-shadow: 0px 2px 2px gray;
}

.ms_btn {
  background-color: #5990E0;
  color: white;
  border-radius: 20px;
  padding: 13px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
}

.ms_btn:hover {
  background-color: white;
  color: #5990E0;
  border: 2px solid #5990E0;
}

#check {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#check h1 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  text-shadow: 0px 2px 2px gray;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10%;
}

.div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.div_img1 {
  width: 45%;
  height: 600px;
  animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

.div_img1 img, .div_img2 img {
  width: 100%;
  height: 100%;
}

.div_img2 {
  width: 48%;
  height: 600px;
  animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

.div_text {
  width: 48%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
}

.div_text ul {
  list-style-type: none;
}

.hamburger_menu {
  display: none;
}

@media (max-width: 1500px) {
  .middle_section {
    width: 80%;
    height: 600px;
    margin-left: 10%;
  }
  .ms_img {
    height: 100%;
  }
  .div_img1, .div_img2 {
    height: 100%;
  }
  .ms_text h2 {
    font-size: 2rem;
  }
  .ms_text p {
    font-size: 1.3rem;
  }
  #check h1 {
    font-size: 2rem;
  }
  .ms_btn {
    font-size: 11px;
  }
  .card {
    height: 400px;
  }
  .card_title {
    font-size: 2rem;
  }
  button {
    padding: 9px;
    font-size: 10px;
  }
}

@media (max-width: 1250px) {
  .head_content {
    font-size: 1rem;
  }
  .head_content p {
    font-size: 1.7rem;
    padding-left: 50px;
    padding-right: 50px;
  }
  .cont_heading {
    font-size: 1.8rem;
  }
  .cont_para {
    font-size: 1.1rem;
  }
}

@media (min-width: 991px) and (max-width: 1150px) {
  .middle_section {
    width: 80%;
    height: 550px;
    margin-left: 10%;
  }
  .ms_text h2 {
    font-size: 1.8rem;
  }
  .ms_text p {
    font-size: 1.2rem;
  }
  #check h1 {
    font-size: 1.8rem;
  }
  .div_text {
    font-size: 1rem;
  }
  .ms_btn {
    font-size: 10px;
  }
}

@media (max-width: 990px) {
  .head_content {
    font-size: 0.9rem;
    letter-spacing: 4px;
    font-weight: 400;
  }
  .head_content p {
    letter-spacing: 2px;
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-shadow: 0px 5px 5px black;
  }
  .hamburger_menu {
    display: block;
    position: absolute;
    font-size: 2rem;
    top: 20px;
    right: 20px;
    z-index: 2;
  }
  .hamburger_menu a {
    color: white;
  }
  .menu_style {
    display: none;
  }
  .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100% !important;
    height: 500px !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#162946), color-stop(#3e5970), color-stop(#6f8c9a), color-stop(#a9c1c7), to(#e9f8f8));
    background-image: linear-gradient(to bottom, #162946, #3e5970, #6f8c9a, #a9c1c7, #e9f8f8);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile_menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile_menu ul li a {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    text-shadow: 0px 3px 3px black;
  }
  .mobile_menu ul li a.active_class {
    color: yellow;
    border-bottom: none;
    text-shadow: 0px 2px 2px black;
    font-size: 1.2rem;
  }
  .mobile_menu ul li a:hover {
    color: white;
    font-size: 1.5rem;
    text-shadow: 0px 3px 3px black;
  }
  .div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div_text {
    width: 100%;
    font-size: 0.95rem;
  }
  .div_img1, .div_img2 {
    width: 100%;
    margin-top: 6%;
  }
  .ms_text h2 {
    font-size: 1.7rem;
  }
  .ms_text p {
    font-size: 1.1rem;
  }
  #check h1 {
    font-size: 1.7rem;
  }
  .card {
    margin: 10%;
    width: 30%;
    height: 380px;
  }
  .card_title {
    font-size: 1.8rem;
  }
  .container {
    width: 65%;
    height: 60%;
    top: 18%;
  }
  .cont_heading {
    font-size: 1.7rem;
  }
  .cont_para {
    font-size: 1rem;
  }
  .content button {
    border: none;
  }
  button {
    padding: 8px;
    font-size: 9px;
  }
}

@media (max-width: 800px) {
  .hamburger_menu {
    font-size: 1.7rem;
  }
  .middle_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 20%;
    margin-bottom: 5%;
  }
  .ms_img {
    margin-top: 2%;
    width: 100%;
  }
  .ms_text {
    width: 100%;
  }
  .container {
    width: 70%;
    height: 55%;
    top: 18%;
  }
  .cont_heading {
    font-size: 1.6rem;
  }
  .cont_para {
    font-size: 0.92rem;
  }
}

@media (max-width: 700px) {
  .hamburger_menu {
    font-size: 1.6rem;
  }
  .head_content {
    font-size: 0.9rem;
  }
  .head_content p {
    font-size: 1.4rem;
  }
  .menu_style ul li a {
    font-size: 1.1rem;
  }
  .mobile_menu ul li a.active_class {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .hamburger_menu {
    font-size: 1.5rem;
  }
  .head_content {
    font-size: 0.7rem;
    letter-spacing: 3px;
    font-weight: 350;
  }
  .head_content p {
    letter-spacing: 2px;
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    text-transform: capitalize;
    font-size: 1.3rem;
    text-shadow: 0px 5px 5px black;
  }
  .card {
    margin: 15% 22.1% 0;
    width: 55%;
    height: 350px;
  }
  .card_title {
    font-size: 1.8rem;
  }
  .container {
    width: 70%;
    height: 70%;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 12%;
  }
  .cont_img {
    width: 100%;
    height: 40%;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
  }
  .content {
    width: 90%;
  }
  .cont_heading {
    font-size: 1.5rem;
    margin-bottom: 7%;
    margin-top: 5%;
  }
  .cont_para {
    font-size: 0.9rem;
  }
  .ms_text h2 {
    font-size: 1.6rem;
  }
  .ms_text p {
    font-size: 1rem;
  }
  .ms_btn {
    font-size: 9px;
  }
  #check h1 {
    font-size: 1.6rem;
  }
  .div_text {
    font-size: 0.92rem;
  }
}

@media (max-width: 480px) {
  .hamburger_menu {
    font-size: 1.4rem;
  }
  .head_section {
    height: 400px;
  }
  .head_content {
    font-size: 0.5rem;
    letter-spacing: 2px;
    font-weight: 300;
  }
  .head_content p {
    letter-spacing: 2px;
    margin-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    text-transform: capitalize;
    font-size: 1.1rem;
    text-shadow: 0px 5px 5px black;
  }
  .mobile_menu {
    height: 400px !important;
  }
  .mobile_menu ul li a {
    font-size: 1rem;
  }
  .mobile_menu ul li a.active_class {
    font-size: 1.1rem;
  }
  .card {
    margin: 10% 15% 0;
    width: 70%;
    height: 300px;
  }
  .card_title {
    font-size: 1.6rem;
  }
  button {
    padding: 7px;
    font-size: 8px;
  }
  .container {
    width: 90%;
    height: 80%;
    top: 10%;
  }
  .cont_img {
    width: 100%;
    height: 50%;
  }
  .content {
    width: 85%;
  }
  .cont_heading {
    font-size: 1.4rem;
    margin-bottom: 7%;
    margin-top: 5%;
  }
  .cont_para {
    font-size: 0.85rem;
  }
  .ms_text h2 {
    font-size: 1.5rem;
  }
  .ms_text p {
    font-size: 0.9rem;
  }
  .ms_btn {
    font-size: 8px;
  }
  #check h1 {
    font-size: 1.5rem;
  }
  .div_text {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) and (max-height: 570px) {
  .container {
    width: 90%;
    height: 100%;
    top: 0;
  }
}
/*# sourceMappingURL=index.css.map */